<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>AppInfoTitle</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>AppVersion</string>
			<key>Title</key>
			<string>AppVersionTitle</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>DictionariesVersion</string>
			<key>Title</key>
			<string>DictionariesVersionTitle</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>180</integer>
			<key>Key</key>
			<string>ServerRequestTimeout</string>
			<key>Title</key>
			<string>ServerRequestTimeoutTitle</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>ServerRequestTimeout1Min</string>
				<string>ServerRequestTimeout3Min</string>
				<string>ServerRequestTimeout5Min</string>
				<string>ServerRequestTimeout10Min</string>
			</array>
			<key>Values</key>
			<array>
				<real>60</real>
				<integer>180</integer>
				<integer>300</integer>
				<integer>600</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Key</key>
			<string>DocInfoPackageSize</string>
			<key>Title</key>
			<string>DocInfoPackageSizeTitle</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>DocInfoPackageSize25</string>
				<string>DocInfoPackageSize50</string>
				<string>DocInfoPackageSize75</string>
				<string>DocInfoPackageSize100</string>
				<string>DocInfoPackageSize125</string>
				<string>DocInfoPackageSize150</string>
				<string>DocInfoPackageSize175</string>
				<string>DocInfoPackageSize200</string>
			</array>
			<key>Values</key>
			<array>
				<integer>25</integer>
				<integer>50</integer>
				<integer>75</integer>
				<integer>100</integer>
				<integer>125</integer>
				<integer>150</integer>
				<integer>175</integer>
				<string>200</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use3GNetworkTitle</string>
			<key>Key</key>
			<string>Use3GNetwork</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SyncOnStartupTitle</string>
			<key>Key</key>
			<string>SyncOnStartup</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>InboxModuleSettingsTitle</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://esed.rt.ru</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ORDServerUrl</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>ORDServerAddressTitle</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Required</key>
			<string>UseORDServer</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>esed_rt</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ORDServerRepositoryName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>ORDServerRepositoryNameTitle</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Required</key>
			<string>UseORDServer</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>ORDServerUser</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>ORDServerUserTitle</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Required</key>
			<string>UseORDServer</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>ORDServerPassword</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>ORDServerPasswordTitle</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Required</key>
			<string>UseORDServer</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>base64</string>
			<key>Key</key>
			<string>ORDAttachmentDownloadType</string>
			<key>Title</key>
			<string>ORDAttachmentDownloadTypeTitle</string>
			<key>Titles</key>
			<array>
				<string>ORDAttachmentDownloadTypeBase64Title</string>
				<string>ORDAttachmentDownloadTypeServletTitle</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>base64</string>
				<string>servlet</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>SyncORDDictionaries</string>
			<key>Title</key>
			<string>SyncORDDictionariesTitle</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>UseORDServer</string>
			<key>Title</key>
			<string>ORDServerToggleTitle</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Title</key>
			<string>ErrandDueDateIntervalTitle</string>
			<key>Key</key>
			<string>CurrentErrandDueDateInterval</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>ThemesSettingsTitle</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>default</string>
			<key>Key</key>
			<string>CurrentTheme</string>
			<key>Title</key>
			<string>CurrentThemeTitle</string>
			<key>Titles</key>
			<array>
				<string>ThemeDefaultTitle</string>
				<string>ThemeBlueTitle</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>blue</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
